version: '3'
services:
  nginx:
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./nginx
    ports:
      - '3050:80'
  tannatci-be:
    build:
      dockerfile: Dockerfile.dev
      context: ./tannatci-be
    volumes:
      - /app/node_modules
      - ./tannatci-be:/app
    environment:
      - MONGO_CONNECT=mongodb+srv://achill:kny4EBWhvh89X7Df@cluster0-xfiey.mongodb.net/tannatci?retryWrites=true
      - STAGE=DEV
  tannatci-fe:
    build:
      dockerfile: Dockerfile.dev
      context: ./tannatci-fe
    volumes:
      - /app/node_modules
      - ./tannatci-fe:/app
  tannatci-ganache:
    build:
      dockerfile: Dockerfile.dev
      context: ./tannatci-ganache
    ports:
      - '8545:8545'