.App {
  text-align: center;
  margin-top: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  margin-top: 2rem;
}

.trade-account-container {
  margin-top: 5rem;
}

.trade-account-label {
  font-size: 1.2rem;
  font-weight: 500
}